.nav.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; /* Quita el relleno predeterminado de la lista */
  list-style: none; /* Quita los puntos de la lista */
}

.nav-item {
  text-align: center;
  margin: 10px 0; /* Ajusta el margen superior e inferior según tus preferencias */
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px; /* Ajusta según tus necesidades */
  color: #0a0909;
  background-color: #e70303;


}

/* Estilo para los íconos */
.nav-link:hover {
  background-color: #ef0404; /* Cambia el color de fondo al pasar el mouse */
}



