<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
      </div>
      <h6>Agencia de Vuelos</h6>
      <img src="../../assets/img/angular.png" alt="">
    </a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="home" class="nav-link" >
        <i class="ti-home"></i>
        <p>Hogar</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="flights" class="nav-link" >
        <i class="ti-arrow-top-right"></i>
        <p>Vuelos</p>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="hotels" class="nav-link" >
        <i class="ti-arrow-top-right"></i>
        <p>Hotels</p>
      </a>
    </li>

  </ul>
</div>
